/* background-color
background-image
background-repeat: repeat | no-repeat | repeat-x | repeat-y
background-attachment: scroll | fixed
background-position: top left | 100px 300px | 40% 50% 
background-size (CSS 3): px | % | cover | contain */

/* cover - image goes out of bounds
contain - image stays in bounds */



body{
  /* background-color: green;
  background-image: url(assets/images/highrise.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; */

  /* background: url(assets/images/highrise.webp) no-repeat fixed center / cover; */

  /* background: linear-gradient(to left top, red, green, blue); */

  /* background: radial-gradient(circle, red, green, blue); */

}

/* https://uigradients.com */


.redBackground{
  /* background: url(assets/images/slider1.jpg) no-repeat fixed center / cover; */
}
