/* border-style: solid | dotted | dashed | ridge | inset | outset | groove */
.box{
 /* border-width: 4px; 
 border-style: solid; 
 border-color: black; */
 /* border: 4px solid black;  */

/* border-bottom: 4px solid red;
border-top: 2px dashed green;
border-left: 3px solid yellow;
border-right: 5px dotted pink; */

border: 6px solid;
border-radius: 30px;

/* border-top-left-radius
border-top-right-radius
border-bottom-left-radius
border-bottom-right-radius */

}


.ball{
  width: 250px;
  height: 150px;
  background-color: red;
  border: solid red;
  border-radius: 50%;
}