/* flex-direction: tells whether the items will be horizontal or vertical */
/* flex-direction: row | column | row-reverse | column-reverse */

/* justify-content: tells how to arrange the boxes in horzontal manner
flex-start | flex-end | center | space-between | space-around | space-evenly

align-items: tells how to arrange the boxes in vertical manner */

rohitjainfsl

*{
  margin: 0;
  padding: 0;
}
header {
  background: orange;
  display: flex;
  justify-content: space-between;
}

header ul{
  display: flex;
}



#boxes{
  display: flex;
  /* flex-direction: column; */
}
.box{
  border: solid;
  padding: 10px;
}