*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
  background-color: #faa361;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  height: 70px;
}
header h1 {
  color: #fff;
  letter-spacing: 0;
  text-transform: uppercase;
}
header h1 span{
  color: #000;
}
header ul{
  display: flex;
  list-style: none;
}
header ul a {
  text-decoration: none;
  color: #fff;
  padding: 1.6rem 1.25rem;
  border-left: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}


#background{
  background: url(assets/images/highrise.webp) no-repeat scroll center / cover;
  height: 300px;
}


#content{
  position: relative;
  background-color: #faa361;
}
.boxes{
  position: absolute;
  width: 100%;
  display: flex;
  top: -95px;
}
.boxes .box{
  width: 31%;
  background-color: #fff;
  border-radius: 0.5rem;
  margin: 0 1rem;
  padding: 0.75rem;
  line-height: 22px;
  font-size: 90%;
}


.two-part{
  padding: 10rem 2rem 2rem;
  display: flex;
}
.two-part ul{
  list-style: none;
}
.two-part ul a{
  color: #000;
  width: 140px;
  display: inline-block;
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem 0;
  text-decoration: none;
  background-color: #fff;
  border-radius: 0.25rem;
}
.two-part .three-para {
  margin-left: 1rem;
  padding: 0 1rem;
  border-left: 2px solid #6e6b6b;
}
.two-part .three-para p{
  padding: 0.75rem 0;
}