/* Margin: space beteween two elements. Space between the border of 2 elements */

/* Padding: space between one element's content & its own border */


*{
 margin: 0; 
 padding: 0;
}

.box{
  border: 2px solid;
}
#box2{
  /* margin-top: 20px;
  margin-right: 40px;
  margin-bottom: 40px;
  margin-left: 20px; */

  /* margin: 20px 40px 40px 20px; top right bottom left */
  /* margin: 20px 40px 40px; top left+right bottom */
  /* margin: 20px 40px; top+bottom left+right */

  /* margin: 10px; top+right+bottom+left */

  /* padding-top: 50px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 30px; */

  /* padding: 50px 40px 20px 30px; */

  padding: 6px 8px;





}