*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Transition: smooth change of any CSS properties value */

/* Transition only happens on mouseover(hover) */

/* 
  transition-property
  transition-duration 
  transition-delay
  transition-timing-function: ease | ease-in | ease-out | ease-in-out | linear | cubic-beizer
*/

.box{
  width: 120px;
  height: 120px;
  background-color: #f00;
  margin: 3rem;
  /* transition-property: background-color, height, width, transform, border-radius, padding; */
  /* transition-property: all;
  transition-duration: 5s;
  transition-delay: 1s;
  transition-timing-function: linear; */

  transition: all 5s 1s linear;
}

.box:hover{
  background-color: #0f0;
  height: 180px;
  width: 180px;
  transform: rotate(180deg);
  border-radius: 50%;
  padding: 2rem;
}