*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#boxes{
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  width: 60%;
}
.box .heading h1{
  display: flex;
  justify-content: space-between;
}
.box .heading h1 i{
  cursor: pointer;
}