*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* The default value for z-index: auto */
.box{
  border: 2px solid;
  padding: 1rem;
  border-radius: 1rem;
  width: 50vw;
  margin: 0.5rem 0;
  position: absolute;
}
.box:nth-of-type(1){
  background-color: #e9d899;
  z-index: 1;
}
.box:nth-of-type(2){
  background-color: #f32469;
  z-index: auto; 
}
.box:nth-of-type(3){
  background-color: #143;
  color: #fff;
  z-index: 2;
}